In [72]:
import pandas as pd
from sqlalchemy import create_engine

# calling the path of database

In [73]:
engine = create_engine('sqlite:///I:\Python\Track of Data Science(DataCamp)\DataBase\SQLite.db')

# Table names

In [74]:
engine.table_names()

C:\Users\Mohamed Hamde\AppData\Local\Temp\ipykernel_4836\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['data_avg_temp', 'dataset_1', 'table_to_join', 'table_to_union']

# Import all data from table by pandas

In [75]:
df = pd.read_sql_query('select * from dataset_1', engine)

In [76]:
df.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,,4~8,1~3,1,0,0,0,1,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,,4~8,1~3,1,0,0,0,1,0,2
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,,4~8,1~3,1,1,0,0,1,1,3
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,,4~8,1~3,1,1,0,0,1,0,4
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,,4~8,1~3,1,1,0,0,1,0,5

# Now,  you can use python on database

In [77]:
data = df[df['weather'] == 'Snowy']
data_avg_temp = data.groupby(['destination', 'weather', 'time'])['temperature'].agg('mean')
data_avg_temp = pd.DataFrame(data_avg_temp)
data_avg_temp

                              temperature
destination     weather time
Home            Snowy   10PM         30.0
                        6PM          30.0
No Urgent Place Snowy   10AM         30.0
                        10PM         30.0
                        2PM          30.0
                        6PM          30.0
Work            Snowy   7AM          30.0

# Create table and insert new dataframe to this table

In [31]:
# create_table = pd.read_sql_query('create table data_avg_temp (destination text, weather text, time text, temperature int)', engine)

In [78]:
engine.table_names()

C:\Users\Mohamed Hamde\AppData\Local\Temp\ipykernel_4836\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['data_avg_temp', 'dataset_1', 'table_to_join', 'table_to_union']

In [53]:
data_avg_temp.to_sql('data_avg_temp', engine, if_exists='replace', index = True)

In [54]:
df = pd.read_sql_query('select * from data_avg_temp', engine)

In [55]:
df.columns

Index(['destination', 'weather', 'time', 'temperature'], dtype='object')

In [56]:
df

       destination weather  time  temperature
0             Home   Snowy  10PM         30.0
1             Home   Snowy   6PM         30.0
2  No Urgent Place   Snowy  10AM         30.0
3  No Urgent Place   Snowy  10PM         30.0
4  No Urgent Place   Snowy   2PM         30.0
5  No Urgent Place   Snowy   6PM         30.0
6             Work   Snowy   7AM         30.0